.hero-container {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    padding: 20px 150px 20px 150px;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 5px; 
}

.logo-link {
    display: flex;
}

.hero-container-present {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 25px 0px;
}

.hero-container-present-text h1 {
    display: flex;
    font-size: 48px;
    color: #f9faf8;
}

.hero-container-present-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px 150px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.info-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.quote {
    display: flex;
    padding: 30px 150px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    background-color: #e5e7eb;
    flex-direction: column;
}

span {
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}









